@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Assistant', sans-serif;
    letter-spacing: 1.1px;
    font-weight: bold;
}

:root {
    --brdr: #e1e1e1;
    --theme: #7336e6;
    --themeFont: #393939;
    --descrp: #524c4c;
    --close: rgb(255, 44, 44);
}


.required-mark{
    color: var(--close);
    margin-left: 5px;
    font-size: 18px; 
}


/* Scroll bar by default styling ---> */
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* some common styling */
.highlight-txt {
    color: var(--theme);
}

.nav-top-wrap {
    width: 100vw;
    height: 8vh;
    padding: 0 15px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--brdr);
    box-shadow: 0 0 2px var(--brdr);
}

/* article wrapper */
.article-dtls-wrap{
    width: 150px;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* nav profile view part */
.nav-top-wrap .profile-wrapper {
    width: 100px;
    height: 70%;
    border: 1px solid var(--brdr);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 5px;
}

.nav-top-wrap .profile-wrapper img {
    border-radius: 50%;
    width: 25px;
    height: 25px;
    object-fit: fill;
    margin-right: 8px;
}

.nav-top-wrap .profile-wrapper .user-dtls {
    width: 50px;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 13px;
    white-space: nowrap;
    text-transform: capitalize;
    color: var(--themeFont);
}

/* main article styling */
.main-article-create-wrap{
    width: 100vw;
    height: 90vh;
    padding: 15px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 8px;
}
.main-article-create-wrap .top-directory-wrap{
    width: 100%;
    height: 5%;
    font-size: 14px;
    padding: 0 15px;
}
.main-article-create-wrap .top-directory-wrap p a{
    text-decoration: none;
    color: var(--theme)
}

.main-article-create-wrap .title-article-wrap{
    width: 100%;
    height: 10%;
    padding: 0 15px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px 0;
    color: var(--themeFont);
    margin: 10px 0;
    padding-bottom: 10px;
}
.main-article-create-wrap .title-article-wrap .validation-articlepage{
    font-size: 13px;
    color: var(--close);
    letter-spacing: 1.3px;
    display: none;
}
.main-article-create-wrap .title-article-wrap .show-validation-articlepage{
    display: block;
    animation-name: error-highlight;
    animation-timing-function: ease;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}
@keyframes error-highlight{
    from{
        color: var(--close);
    }to{
        color: rgb(254, 196, 88);
    }
}
.wrapper-top-ttle p{
    font-size: 15px;
}
.wrapper-top-ttle .article-ttl-inpt i{
    margin-left: 2px;
    font-size: 15px;
}
.wrapper-top-ttle .article-ttl-inpt{
    width: 300px;
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.wrapper-top-ttle .article-ttl-inpt input{
    width: 93%;
    border: none;
    outline: none;
    padding: 3px 5px;
    border-bottom: 1px solid var(--brdr);
}
.main-article-create-wrap .title-article-wrap button{
    border: none;
    outline: none;
    padding: 5px 15px;
    background-color: transparent;
    color: var(--theme);
    border: 1px solid var(--brdr);
    border-radius: 5px;
    box-shadow: 1px 1px 1px var(--brdr);
    cursor: pointer;
}
.main-article-create-wrap .title-article-wrap button:hover{
    box-shadow:inset 1px 1px 1px var(--brdr);
}

.main-article-create-wrap .main-article-section{
    width: 100%;
    height: 85%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
}
.main-article-section .left-main-article{
    width: 73%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    border-right: 1px solid var(--brdr);
}
.main-article-section .left-main-article h3, .wrapper-top-ttle p{
    font-size: 15px;
    color: var(--theme);
}
.main-article-section .left-main-article h3 i, .wrapper-top-ttle p i{
    color: var(--themeFont)
}
.main-article-section .left-main-article textarea{
    width: 95%;
    height: 93%;
    resize: none;
    border: 1px solid var(--brdr);
    border-radius: 5px;
    outline: none;
    padding: 10px;
    letter-spacing: 1.5px;
}
.main-article-section .rght-main-article{
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}
.main-article-section .rght-main-article> fieldset{
    width: 100%;
    height: 30%;
    padding: 6px 10px;
    border: 1px solid var(--brdr);
    border-radius: 5px;
    border-left: 3px solid var(--theme);
}
.main-article-section .rght-main-article> fieldset legend{
    padding: 0 8px;
    margin: 0 3px;
    font-size: 14px;
    color: var(--theme);
}
.main-article-section .rght-main-article> fieldset p{
    font-size: 13px;
    color: var(--themeFont);
}

.abstraction-sec textarea{
    width: 100%;
    height: 80%;
    border-radius: 5px;
    outline: none;
    border: 1px solid var(--brdr);
    resize: none;
    margin-top: 5px;
    padding: 5px;
    font-size: 12px;
    color: var(--themeFont);
    letter-spacing: 1.2px;
}

.main-article-section .rght-main-article .document-sec{
    padding: 6px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
input::file-selector-button {
    padding: 5px 10px;
    border-radius: 5px;
    outline: none;
    border: 1px solid var(--brdr);
    background-color: transparent;
    font-size: 12px;
    box-shadow: 1px 1px 1px var(--brdr);
    cursor: pointer;
    margin-left: 35px;
    font-family: 'Assistant', sans-serif;
    font-weight: bold;
    letter-spacing: 1.3px;
    color: var(--theme);
}
input::file-selector-button:hover{
    box-shadow:inset 1px 1px 1px var(--brdr);
}
.main-article-section .rght-main-article .document-sec .error-msg{
    font-size: 12px;
    color: var(--theme);
    text-align: center;
}


/* video section styling */
.main-article-section .rght-main-article .video-sec{
    padding: 6px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.video-sec .left-inpt-wrap{
    width: 60%;
}
.video-sec img{
    margin-right: 5px;
}
.video-sec input{
    width: 80%;
    padding: 5px;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--brdr);
    font-size: 12px;
    color: var(--theme);
    letter-spacing: 1.2px;
    margin-top: 5px;
}