@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Assistant', sans-serif;
    letter-spacing: 1.1px;
    font-weight: bold;
}

:root {
    --brdr: #e1e1e1;
    --theme: #7336e6;
    --themeFont: #393939;
    --descrp: #524c4c;
    --close: rgb(255, 44, 44);
}

/* Scroll bar by default styling ---> */
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* some common styling */
.highlight-txt {
    color: var(--theme);
}

/* main entire dashboard */
.dshbrd-wrap {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* nav wrapper */
.dshbrd-wrap .nav-top-wrap {
    width: 100vw;
    height: 8%;
    padding: 0 15px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--brdr);
    box-shadow: 0 0 2px var(--brdr);
}

/* Top nav serach section part */
.nav-top-wrap .search-nav-dshbrd {
    width: 400px;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    border: 1px solid var(--brdr);
    padding: 0 5px;
}

.nav-top-wrap .search-nav-dshbrd input {
    width: 90%;
    height: 70%;
    border: none;
    outline: none;
    padding: 0 8px;
}

.nav-top-wrap .search-nav-dshbrd input:focus {
    border-bottom: 1px solid var(--brdr);
}

.nav-top-wrap .search-nav-dshbrd button {
    width: 8%;
    height: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    color: var(--theme);
    font-size: 15px;
}

/* nav profile view part */
.nav-top-wrap .profile-wrapper {
    width: 100px;
    height: 70%;
    border: 1px solid var(--brdr);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 5px;
}

.nav-top-wrap .profile-wrapper img {
    border-radius: 50%;
    width: 25px;
    height: 25px;
    object-fit: fill;
    margin-right: 8px;
}

.nav-top-wrap .profile-wrapper .user-dtls {
    width: 50px;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 13px;
    white-space: nowrap;
    text-transform: capitalize;
    color: var(--themeFont);
}

/* dashboard main bottome part */
.dshbrd-wrap .btm-dsgbrd-wrap {
    width: 100vw;
    height: 92%;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dshbrd-wrap .nav-left-wrap {
    width: 5%;
    height: 100%;
    border-right: 1px solid var(--brdr);
    box-shadow: 0 0 2px var(--brdr);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

/* nav left top section */
.nav-left-wrap .nav-left-top {
    width: 100%;
    height: 300px;
    border-bottom: 1px solid var(--brdr);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}

.nav-left-wrap .nav-left-top>button,
.nav-left-wrap .nav-left-btm>button {
    width: 100%;
    height: 60px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
}

.nav-left-wrap .nav-left-top>button i,
.nav-left-wrap .nav-left-btm>button i {
    margin-bottom: 5px;
}

.nav-left-wrap .nav-left-top>button span,
.nav-left-wrap .nav-left-btm>button span {
    color: var(--theme);
}

.nav-left-wrap .nav-left-top>button:hover,
.nav-left-wrap .nav-left-btm>button:hover {
    background-color: rgb(248, 248, 248);
}

/* nav left bottom section */
.nav-left-wrap .nav-left-btm {
    width: 100%;
    height: 150px;
    border-top: 1px solid var(--brdr);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}

/* main dashboard styling: */
.main-rght-cntnt {
    width: 100%;
    height: 100%;
    padding: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

/* top and bottom section of main dashboard wrapper */
.main-rght-cntnt>div {
    width: 100%;
    height: 50%;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 50px;
}

.main-cntnt-top {
    padding: 5px 40px;
}

/* top left of dashboard */
.main-cntnt-top .left-main-cntnt {
    width: 70%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 1px solid var(--brdr); */
    padding: 0 15px;
}

.main-cntnt-top .left-main-cntnt .top-user-welcme {
    width: 50%;
    height: max-content;
    text-align: center;
}

.main-cntnt-top .left-main-cntnt .top-user-welcme h3 {
    font-size: 18px;
}

.main-cntnt-top .left-main-cntnt .top-user-welcme .dshbrd-descrp {
    font-size: 14px;
    color: var(--descrp);
}

.main-cntnt-top .left-main-cntnt .right-brand-dashbrd {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* top right of dashboard */
.main-cntnt-top .rght-main-cntnt {
    width: 25%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 1px solid var(--brdr);
    border-radius: 5px;
    padding: 10px;
    border-top: 3px solid #fdd200;
}

.top-rght-bkmrk {
    width: 100%;
    height: 18%;
    line-height: 20px;
    padding: 0 10px;
    padding-top: 5px;
}

.top-rght-bkmrk h3 {
    /* color: var(--theme); */
    color: #f27603;
    font-size: 15px;
}

.top-rght-bkmrk h3 i {
    color: var(--themeFont);
}

.top-rght-bkmrk p {
    color: var(--descrp);
    font-size: 12px;
    letter-spacing: 1.3px;
}

/* styling multiple card of bookmarked website list iew */
.btm-rght-bkmark {
    width: 100%;
    height: 80%;

    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

/* bookmark card style */
.card-saved-wrapper,
.track-card-wrapper,
.card-trending-wrap {
    width: 98%;
    height: 65px;
    /* border: 1px solid var(--brdr); */
    border-radius: 5px;
    box-shadow: 1px 1px 2px var(--brdr);

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
    margin: 3px 0;
    text-decoration: none;
}

.card-saved-wrapper:hover,
.track-card-wrapper:hover,
.card-trending-wrap:hover {
    box-shadow: inset 1px 1px 2px var(--brdr);
}

.card-saved-wrapper .left-savedcard-wrap,
.track-card-wrapper .left-trackcrd-wrap,
.card-trending-wrap .left-trending-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-saved-wrapper .left-savedcard-wrap img,
.track-card-wrapper .left-trackcrd-wrap img,
.card-trending-wrap .left-trending-wrap img {
    max-width: 100%;
    height: auto;
    width: 35px;
}

.card-saved-wrapper .right-saved-wrapper {
    width: 80%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.track-card-wrapper .right-trackcrd-wrapper,
.card-trending-wrap .right-trending-wrap {
    width: 95%;
    height: 100%;
    line-height: 18px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-left: 10px;
}

.track-card-wrapper .right-trackcrd-wrapper .time-paused-trackcrd {
    font-size: 11px;
    color: var(--descrp);
}

.card-saved-wrapper .right-saved-wrapper .details-wrapper {
    width: 80%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    line-height: 18px;
}

.card-saved-wrapper .right-saved-wrapper .details-wrapper h3,
.track-card-wrapper .right-trackcrd-wrapper h3,
.card-trending-wrap .right-trending-wrap h3 {
    color: var(--theme);
    font-size: 14px;
}

.track-card-wrapper .right-trackcrd-wrapper h3 {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.card-saved-wrapper .right-saved-wrapper .details-wrapper p,
.track-card-wrapper .right-trackcrd-wrapper p,
.card-trending-wrap .right-trending-wrap p {
    width: 180px;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 11px;
    white-space: nowrap;
    text-transform: capitalize;
    color: var(--descrp);
}

.card-saved-wrapper .right-saved-wrapper .delete-bookmarkedbtn {
    border: none;
    outline: none;
    background-color: transparent;
    color: var(--close);
    padding: 5px 6px;
    /* border: 1px solid var(--brdr); */
}


/* bottom of dashboard in which contains all section related to tracking article, trending list and related interest of topic */
.track-article-wrapper,
.trending-article-wrapper {
    width: 300px;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    border: 1px solid var(--brdr);
    border-radius: 5px;
    padding: 10px;
    border-top: 3px solid #7169ffed;
}

.trending-article-wrapper {
    border-top: 3px solid #51c9ff;
}

.track-article-wrapper .top-track-sect,
.trending-article-wrapper .top-trending-sect {
    width: 100%;
    height: 15%;
    line-height: 20px;
    padding: 0 10px;
    padding-top: 5px;
}

.track-article-wrapper .top-track-sect h3 {
    color: var(--theme);
    font-size: 15px;
}

.related-interest-wrapper .top-inte-article-sect h3 {
    font-size: 15px;
    color: #f51212;
}

.trending-article-wrapper .top-trending-sect h3 {
    color: #0092d3;
    font-size: 15px;
}

.track-article-wrapper .top-track-sect h3 i,
.related-interest-wrapper .top-inte-article-sect h3 i,
.trending-article-wrapper .top-trending-sect h3 i {
    color: var(--themeFont);
}

.track-article-wrapper .top-track-sect p,
.related-interest-wrapper .top-inte-article-sect p,
.trending-article-wrapper .top-trending-sect p {
    color: var(--descrp);
    font-size: 12px;
    letter-spacing: 1.3px;
}

.track-article-wrapper .btm-track-sect,
.trending-article-wrapper .btm-trending-sect {
    width: 100%;
    height: 80%;

    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

/* area of interest section */
.related-interest-wrapper {
    width: 500px;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    border: 1px solid var(--brdr);
    border-radius: 5px;
    padding: 10px;
    border-top: 3px solid #ff6969ed;
}

.related-interest-wrapper .top-inte-article-sect {
    width: 100%;
    height: 15%;
    line-height: 20px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    padding-top: 8px;
}

.related-interest-wrapper .top-inte-article-sect button {
    border: none;
    outline: none;
    background-color: transparent;
    border: 1px solid var(--brdr);
    padding: 5px 10px;
    border-radius: 5px;
}

.related-interest-wrapper .btm-inte-article-sect {
    width: 100%;
    height: 90%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
}

/* interested article card */
.card-interest-wrap {
    width: 95%;
    height: 70%;
    /* border: 1px solid var(--brdr); */
    border-radius: 5px;
    box-shadow: 1px 1px 2px var(--brdr);

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
    margin: 3px 0;
    text-decoration: none;
}

.card-interest-wrap:hover {
    box-shadow: inset 1px 1px 2px var(--brdr);
}

.card-interest-wrap .left-interest-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-interest-wrap img {
    max-width: 100%;
    height: auto;
    width: 35px;
}

.card-interest-wrap .right-interest-wrapper {
    width: 95%;
    height: 100%;
    line-height: 18px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-left: 10px;
}

.card-interest-wrap .right-interest-wrapper .tag-interest {
    font-size: 11px;
    color: var(--descrp);
}

.card-interest-wrap .right-interest-wrapper h3 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: var(--theme);
    font-size: 14px;
}

.card-interest-wrap .right-interest-wrapper p {
    width: 180px;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 11px;
    white-space: nowrap;
    text-transform: capitalize;
    color: var(--descrp);
}